.container_inicio {
  background: url("../../../img/background/onda.png");
  background-size: cover;
  display: grid;
  height: 100vh;
  grid-template-columns: 1fr;
}

.carta-box {
  position: relative;
  perspective: 1000px;
  width: 300px;
  height: 300px;
}

.carta-box:hover .carta {
  transform: rotateY(180deg);
}

.carta {
  transform-style: preserve-3d;
  transition: all 0.5s linear;
}

.cara {
  position: absolute;
  backface-visibility: hidden;
}

.carta img {
  width: 100%;
}

.cara.detras {
  transform: rotateY(180deg);
}
.container_title {
  display: flex;
  justify-content: center;
}

.container_title-items h3 {
  font-family: var(--font-subtitle);
  color: var(--color-black);
  font-weight: 500;
  font-size: 35px;
  margin: 0;
}

.container_title-items h4 {
  font-family: var(--font-subtitle);
  font-size: 1.5rem;
  padding-bottom: 0.8rem;
  color: var(--color-black);
  font-weight: 500;
  margin: 0;
  text-align: left;
}

.container_img {
  display: grid;
  place-items: center;
  padding-top: 2rem;
}
#img_logo{
  background: var(--color-black);
  border-radius: 50%;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@-webkit-keyframes rotate {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}

#img_main {
  -webkit-animation: 300s rotate linear infinite;
  animation: 300s rotate linear infinite;
  -webkit-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
}

@media (min-width: 1200px) {
  .container_inicio {
    grid-template-columns: 1fr 1fr;
  }

  .container_img {
    grid-column-start: 2;
    grid-column-end: 3;
  }

  .container_title {
    grid-row-start: 1;
    grid-row-end: 2;
    display: grid;
    place-content: center;
  }

  .carta-box {
    width: 500px;
    height: 500px;
  }

  .container_title-items h3 {
    font-family: var(--font-title);
    font-weight: 400;
    font-size: 120px;
  }

  .container_title-items h4 {
    font-size: 2.5rem;
    padding-bottom: 1.5rem;
  }
}
