.instagram_items {
  display: flex;
  flex-direction: column;
}

.instagram_header {
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--color-black);
}

.instagram_title h2 {
  text-align: center;
  font-size: 3rem;
  font-family: var(--font-title);
  font-weight: 400;
  color: var(--color-orange);
  padding: 1rem;
  margin: 0;
}

.instagram_subtitle {
  padding: 0.5rem;
  display: flex;
}

.instagram_tier_down {
  display: flex;
}

.instagram_logo {
  align-items: center;
  display: flex;
}
.instagram_body {
  padding: 3rem 0 3rem 0;
}
.instagram_subtitle h3 {
  font-family: var(--font-subtitle);
  color: var(--color-white);
  font-weight: 200;
  font-size: 30px;
}

.instagram_cards {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.instagram_card a img {
  height: 350px;
}
.instagram_card{
  margin:2rem 0rem;
}

@media (min-width: 720px) {
 
  .instagram_header {
    height: 300px;
    margin: 0;
  }

  .instagram_title h2 {
    padding: 5rem 0 0 0;
    font-size: 64px;
  }

  .instagram_subtitle h3 {
    font-weight: 200;
    font-size: 35px;
    margin: 0;
  }

  .instagram_body {
    display: flex;
    justify-content: center;
    padding: 4rem;
  }

  .instagram_cards {
    max-width: 1200px;
  }

  .instagram_card{
    margin: 1rem;
  }

  .instagram_card img{
    transition: all .3s ease-in-out;
  }

  .instagram_card img:hover {
    transform: scale(1.05);
    -webkit-box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.8);
    -moz-box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.8);
    box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.8);
  }
}
