.containerGralCategories {
  background: url("../../../img/background/onda 2.png");
  background-size: cover;
  text-align: center;
  font-family: var(--font-title);
  color: var(--color-orange);
  font-size: 35px;
}
.containerCategories {
  display: grid;
  grid-template-columns: 1fr;
}
.containerCategory {
  width: 100%;
  padding: 1rem;
}

.containerCategory img {
  width: 100%;
}

@media (min-width: 768px) {
  .containerGralCategories {
    font-size: 64px;
    height: 100vh;
  }

  .containerCategories {
    overflow: hidden;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 3rem;
    padding: 0 5rem;
  }
  .containerCategory {
    padding: 0;
  }

  .containerCategory img {
    width: 75%;
    object-fit: cover;
  }
}
