.footer_container {
  background-color: var(--color-black);
  margin: 0 auto;
  padding: 1rem;
}

.footer_body {
  display: grid;
  grid-template-columns: 1fr;
  width: 100%;
  align-items: center;
}

.footer_tier_logos {
  display: flex;
  justify-content: space-evenly;
}

.footer_text {
  width: 100%;
  font-family: var(--font-subtitle);
  color: var(--color-white);
  font-size: 18px;
  text-align: justify;
}

@media (min-width: 720px) {
  .footer_body {
    grid-template-columns: 1fr 1fr;
  }

  .footer_tier_logos {
    justify-content: center;
  }

  .footer_logo {
    margin: 0 2rem 0 2rem;
  }

  .footer_text {
    font-size: 20.5px;
  }
}
