.container_acerca {
  background-color: var(--color-white);
  display: relative;
  margin: 0 auto;
  padding: 2rem 0 2rem 0;
}

.acerca_items-container {
  display: flex;
  flex-wrap: wrap;
}
.item_acerca_img img{
  border-radius: 4rem;
}

.acerca_items {
  display: grid;
  grid-template-columns: 1fr;

}

.acerca_items-info {
  background-color: var(--color-background-info);
  display: flex;
}

.item_acerca-info {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 1rem;
  width: 100%;
}
.item_acerca-info-img {
  margin: 1rem;
  width: auto;
}

.item_acerca-info-img img {
  display: none;
  width: auto;
  height: 400px;
}

.item_acerca {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 1rem;
  width: auto;
}

.item_acerca img {
  width: auto;
  height: 200px;
}

.item_acerca-title {
  display: flex;
  width: auto;
}

.item_acerca-text {
  width: 90%;
}

.item_acerca-title h3 {
  text-align: left;
  margin: 0;
  padding: 5px;
  font-family: var(--font-title);
  font-weight: 400;
  font-size: 44px;
}

.item_acerca-text h4 {
  margin: 0;
  text-align: justify;
  font-weight: 200;
  color: #444;
  font-family: var(--font-subtitle);
  font-size: 19px;
}

.item_acerca-text h4 b {
  font-size: 20.5px !important;
  font-weight: 500;
}

@media (min-width: 720px) {
  .acerca_items {
    grid-template-columns: 1fr 1fr;
    padding: 2rem 0 1.5rem 0;
  }

  .item_acerca img {
    height: 400px;
  }

  .item_acerca-title {
    width: 100%;
  }

  .item_acerca-title h3 {
    font-size: 64px;
  }
  .item_acerca-text {
    width: 100%;
    padding-right: 10rem;
  }

  .container_acerca {
    display: relative;
    height: 90vh;
  }

  .acerca_items-info {
    height: 200px;
    background-color: var(--color-background-info);
    width: 100%;
    padding-left: 8rem;
    position: relative;
  }

  .item_acerca-info-img img {
    position: absolute;
    right: 0;
    top: -80px;
    display: flex;
    margin: 0;
    height: 400px;
  }
}
