.container_acerca {
    background-color: var(--color-white);
    display: flex;
    margin: auto
  }

.acerca_items-container{
  display: flex;
}

.acerca_items{
  display: grid;
  grid-template-columns: 1fr;
  margin: 20px;
}

.item_acerca{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: auto;
}

.item_acerca img{
  height: 200px;
  align-items: center;
}

.item_acerca-title h3 {
  text-align: center;
  font-family: var(--font-title);
  font-weight: 400;
  font-size: 64px;
}

.item_acerca-text h4 {
  font-family: var(--font-subtitle);
  font-size: 19px;
}


@media (min-width: 1200px) {
  .acerca_items{
    grid-template-columns: 1fr 1fr;
  }

  .item_acerca img{
    width: auto;
    height: 500px;
  }
}
  