.containerMenuMain {
  background: url("../../../img/background/onda 2.png");
  background-size: cover;
  padding: 1rem 0rem;
}

.containerMenuMain h2 {
  color: #fff;
  display: inline;
  background-color: var(--color-black);
  font-family: var(--font-subtitle);
  font-size: 1rem;
  padding: 1rem;
}

h4 {
  color: var(--color-orange);
  font-family: var(--font-subtitle);
  text-align: center;
}

.containerImg img {
  width: 300px;
  height: 300px;
  object-fit: cover;
  object-position: center;
}

@media (min-width: 720px) {
  .containerMenuMain {
    padding-top: 1rem;
  }
  
  .containerMenuMain h2 {
    font-size: 1.5rem;
    padding: 1rem 10rem;
  }
}
