.containerMenuMain {
  background: url("https://firebasestorage.googleapis.com/v0/b/estacion-express.appspot.com/o/background%2Ftexture-1027806_1920.jpg?alt=media&token=86478ca0-4e31-4c6a-8d0d-da82c83ef413");

  background-size: cover;
}

.containerMenuMain h2 {
  color: #fff;
  display: inline;
  background-color: var(--color-black);
  font-family: var(--font-subtitle);
  font-size: 1rem;
  padding: 1rem;
}

h4 {
  color: var(--color-orange);
  font-family: var(--font-subtitle);
  text-align: center;
}

.containerImg img {
  width: 300px;
  height: 300px;
  object-fit: cover;
  object-position: center;
}

@media (min-width: 1200px) {
  h2 {
    font-size: 1.5rem;
    padding: 1rem 10rem;
  }
}
