:root {
  --font-title: Bebas Neue, cursive !important;
  --font-subtitle: Montserrat, sans-serif !important;
  
  --font-medium: 500;
  --font-regular: 400;

  --color-orange: #FE6A2C;
  --color-black: #1f1f1f;
  --color-green: #04d94f;
}
